html {
    padding-top: 40px;
}

.adminbar {
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    height: 40px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.adminbar__list {
    margin: 0;
    padding: 0;
}

.adminbar__list--right {
    float: right;
}

.adminbar__list-item {
    border-right: 1px solid #dbdbdb;
    display: block;
    float: left;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.adminbar__list-item:hover {
    background: #eee;
}

.adminbar__list-item--active,
.adminbar__list-item--active:hover {
    background: #eee;
}

.adminbar__link,
.adminbar__text {
    color: #505050;
    display: block;
    float: left;
    height: 40px;
    line-height: 42px;
    padding: 0 1rem;
    text-decoration: none;
}

.adminbar__link--browse {
    border-left: 1px solid #cecece;
}

.adminbar__link:hover {
    text-decoration: none;
}

.adminbar__list--right .adminbar__link {
    border-left: 1px solid #bebebe;
    padding: 0 10px;
}

.adminbar__list--right .adminbar__link:hover {
    text-decoration: underline;
}

.adminbar__modal {
    background: white;
    height: 0;
    max-height: calc(100vh - 40px);
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 40px;
    transition: height .25s ease-in-out, opacity .1s;
    width: 100vw;
    z-index: 998;
}

.adminbar__modal--visible {
    height: calc(100vh - 40px);
    opacity: 1;
}

.adminbar__modal--hidden {
    border: 0;
}

.adminbar__modal--loading {
    background: white url(loading.gif) center center no-repeat;
}

.adminbar__iframe {
    height: 100%;
    width: 100%;
}

.adminbar__page-saved {
    background: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #cecece;
}
